@{
    ViewBag.Title = "Home Page";
}
   
<h1 class=" text-center">Clinica Salvacion</h1>


    <div class="col-lg-12 ">

        <img  src="~/Content/fondo.jpg" class="mx-auto d-block " alt="Responsive image" width="770" height="330">
    </div>
  
<div class="box my-4">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Instagram</h4>
                    </div>

                    <div class="text">
                        <span>Sigueno en Instagram para mayor informacion y saciar tus inquietudes.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">


                <div class="box-part text-center">

                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Github</h4>
                    </div>

                    <div class="text">
                        <span>Sigueno en Github para ver todos nuestros proyecto.</span>
                    </div>

                    <a href="https://github.com/edwalrd/Clinicasalvacion2020/tree/master/clinicasalvacion2020">Learn More</a>

                </div>


            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>Facebook</h4>
                    </div>

                    <div class="text">
                        <span>Sigueno en Facebook para que vea todas la informacion acerca del Coronavirus.</span>
                    </div>

                </div>
            </div>


        </div>
    </div>
